[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/checksyntax_vim"]
	path = home/.vim/bundle/checksyntax_vim
	url = git://github.com/tomtom/checksyntax_vim.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/vim-puppet"]
	path = home/.vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.rbenv"]
	path = home/.rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/git-grep-vim"]
	path = home/.vim/bundle/git-grep-vim
	url = https://github.com/tjennings/git-grep-vim
[submodule "home/.vim/bundle/vim-endwise"]
	path = home/.vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/vim-powerline"]
	path = home/.vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/vim-slime"]
	path = home/.vim/bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "home/.vim/bundle/YouCompleteMe"]
	path = home/.vim/bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "home/.vendor/ctags-bundler"]
	path = home/.vendor/ctags-bundler
	url = git://github.com/nclark/ctags-bundler.git
[submodule "home/.vim/bundle/vim-signify"]
	path = home/.vim/bundle/vim-signify
	url = git://github.com/mhinz/vim-signify.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "home/.vendor/ruby-build"]
	path = home/.vendor/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "home/.vendor/tmuxinator"]
	path = home/.vendor/tmuxinator
	url = https://github.com/aziz/tmuxinator.git
