[user]
  name = Lewis Marshall
  email = lewis.marshall@econsultancy.com
[alias]
  co     = checkout
  c      = commit -v
  ca     = commit -v --amend
  s      = status
  l      = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(yellow)%an%Creset' --all --abbrev-commit --date=relative
  d      = diff
  dc     = diff --cached
  a      = add
  ap     = add --patch
  fixup  = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  ri     = rebase --interactive --autosquash
[core]
  excludesfile = ~/.gitignore
  editor = gvim -f -c 'startinsert'
[color]
  ui = true
[dude]
	icon = /Users/lewis/Pictures/github.png
